<!-- Nav -->
<div class="navbar-fixed">
  <nav class="nav">
    <div class="nav-wrapper container">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">  
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about">About</a></li>
        <li><a href="#previous-editions">Previous Editions</a></li>
        <li><a href="#steering-committee">Steering Committee</a></li>
        <!-- <li><a href="#sponsors">Sponsors</a></li> -->
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#about">About</a></li>
  <li><a href="#previous-editions">Previous Editions</a></li>
  <li><a href="#steering-committee">Steering Committee</a></li>
  <!-- <li><a href="#sponsors">Sponsors</a></li> -->

</ul>
